
</div>
<form class="form-add-produc" action="/ver_producto" method="POST" >
    <div class="mb-4 text-center">
        <h1>Productos</h1>
    </div>
       <div class="container">
           <h2 class="text-center"><label> {{producto.name}} </label></h2>
            <section class="form-add-products">
      <input class="controls" type="text" name="name"   id="name"   placeholder="Nombre" value="{{producto.name}} "  required>
      <input class="controls" type="text" name="price"   id="price"   placeholder="Precio" value="{{producto.price}}" required>
      <input class="controls" type="text" name="quantity"   id="quantity"   placeholder="Cantidad" value="{{producto.quantity}}" required>
      <input class="controls" type="text" name="description"   id="description"   placeholder="Descripción" value="{{producto.description}}" required>
      <input class="controls" type="file" name="image"   id="image"   placeholder="Imagen" value="{{producto.image}}"  required>
     
      <button class="buttons" type="submit">Agregar Producto</button>
    </section>
       </div>
</form>

<div class="container">
<h1 class="text-center pt-5 pb-4 text-white"> Productos en existencia </h1>
    <div class="d-flex flex-row-reverse">
    </div>
    <div class="card-deck mb-3 text-center">
{{#if productos}}

   {{#each productos}}
    <div class="card card-view-products mb-4 shadow-sm ">
        <div class="card-header text-white"><h5 >Plato de comida #{{dataValues.id}} </h5></div>
        <div class="card-body">
            <p class="card-text">{{dataValues.name}}</p>
            <p class="card-text">{{dataValues.idProducto}}</p>
            <p class="card-text">{{dataValues.image}}</p>
            <img src="{{dataValues.image}}" alt="" style="width: 300px;heigth:300px">
            <p class="card-text">{{dataValues.price}}</p>
            <p class="card-text">{{dataValues.quantity}}</p>
            <p class="card-text">{{dataValues.description}}</p>
             <img src=" {{producto.image}} " alt="">
             <button class="buttons">
            <a class="buttons " href="/modificar_producto/{{dataValues.url}}" >Modificar</a></button>
            <button class="buttons" name="eliminar-producto" id="eliminar-producto" type="button" data-producto-url="{{dataValues.url}}">Eliminar</button>
        </div>
    </div>
    {{/each}}
{{/if}}
</div>
</div>
