  <div class="row mx-auto text-center ml-auto">
<div class="add-products-item">
    <div class="title-products text-center">
        <h1>Productos</h1>
    </div>
    <form class="form-add-produc" action="/ver_producto" method="POST" enctype="multipart/form-data">
        <label> {{producto.name}} </label></h2>
        <div class="card card-view-products">
            <div class="items-products">
                <input class="controls" type="text" name="name" id="name" placeholder="Nombre" required>
                <input class="controls" type="text" name="price" id="price" placeholder="Precio" required>
                <input class="controls" type="text" name="quantity" id="quantity" placeholder="Cantidad" required>
                <input class="controls" type="text" name="description" id="description" placeholder="Descripción" required>
                <input class="controls" type="file" name="image" required>
                <button class="buttons" type="submit">Agregar producto</button>
                <button class="buttons"><a class="buttons " href="/menu">Volver al menú</a></button>
                </section>
            </div>
        </div>
    </form>
</div>
</div>
{{#if productos}}
<div class="row mx-auto text-center ml-auto align-self-center">
    {{#each productos}}
    <div class="col-md-4 mx-auto">
        <div class="card-body container-products mb-2 mt-4 border border-warning rounded-top rounded-bottom">
            <p class="card-text">{{dataValues.name}}</p>
            <p class="card-text">{{dataValues.idProducto}}</p>
            <img src="img/productos/{{dataValues.image}}" alt="" style="width:250;height:150px">
            <p class="card-text">{{dataValues.price}}</p>
            <p class="card-text">{{dataValues.quantity}}</p>
            <p class="card-text">{{dataValues.description}}</p>
            <img src=" {{producto.image}} " alt="">
            <button class="buttons">
                <a class="buttons " href="/modificar_producto/{{dataValues.url}}">Modificar</a></button>
            <button class="buttons" name="eliminar-producto" id="eliminar-producto" type="button"
                data-producto-url="{{dataValues.url}}">Eliminar</button>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}