<div class="container text-center container-products" style="width: 700px;">
    <div class="list-group" style="background-color: darkorange;">
        <h2 style="color:aliceblue;">Carrito de Compras</h2>
    </div>
{{#if pedidos}}
    {{#each pedidos}}
        {{#if dataValues.estadopago}}
    <h1>Actualmente todos no tienes pedidos</h1>
      {{else}}
        <div class="card card-view-products" style="width:500px ;">
        <div class="card" style="width: 18rem align-content=center; ">
            <div class="card-body">
                <p class="card-text" style="color: orange;">{{dataValues.image}}</p>
                <p class="card-text" style="color: black;">Orden : {{dataValues.nombre}}</p>
                <p class="card-text" style="color: black;" id="price" name="price">Precio : {{dataValues.precio}}</p>
                <p class="card-text" style="color: black;">Descripcion : {{dataValues.descripcion}}</p>
            </div>
            
        </div>
        <div class="text-center">
        <h3 style="color: greenyellow;">Subtotal : {{dataValues.subtotal}}</h3>
            <h3 style="color: red;">ISV(15%) : {{dataValues.impuesto}}</h3>
            <h2 style="color: green;">Total :{{dataValues.total}}</h2>
        <a class="buttons " href="" ;>Continuar comprando</a>
                <a class="buttons" href="" style="background-color: red;">Realizar págo</a>
                </div>
    </div>
</div>
        {{/if}}
        {{/each}}
        {{/if}}