<div class="container text-center container-products">  
{{#if carrito}}
<h1>Carrito de compras</h1>
   {{#each carrito}}

        <div class="card card-view-products" style="width:500px;" >
        <div class="card-body">
            <p class="card-text">{{dataValues.image}}</p>
            <p class="card-text">{{dataValues.name}}</p>
            <p class="card-text">{{dataValues.price}}</p>
            <p class="card-text">{{dataValues.description}}</p>
            <img src="{{dataValues.image}}" alt="" style="width:100px;height:400px">
            <a class="buttons" href="/agregar_pedido/{{dataValues.url}}" >Agregar pedido</a>
            <a class="buttons" href="" >Eliminar pedido</a>
    </div>
    <a class="buttons" href="" >Continuar comprando</a>
    <a class="buttons" href="" >Realizar págo</a>
    </div>
            
    {{/each}}
{{/if}}