<div class="container text-center container-products">  
{{#if pedido}}
<h1>Carrito de compras</h1>
   {{#each pedido}}

        <div class="card card-view-products" style="width:500px;" >
        <div class="card-body">
            <p class="card-text">{{dataValues.nombre}}</p>
            <p class="card-text">{{dataValues.precio}}</p>
            <p class="card-text">{{dataValues.descripcion}}</p>
            <p class="card-text">{{dataValues.quantity}}</p>
            <p class="card-text">{{dataValues.fecha}}</p>
            <img src="{{dataValues.url}}" alt="" style="width:100px;height:400px">
            <a class="buttons" href="/agregar_pedido/{{dataValues.usuarioID}}" >Agregar pedido</a>
            <a class="buttons" href="" >Eliminar pedido</a>
    </div>
    <a class="buttons" href="" >Continuar comprando</a>
    <a class="buttons" href="" >Realizar págo</a>
    </div>
            
    {{/each}}
{{/if}}