
  <div class="row mx-auto text-center ml-auto">
<div class="add-products-item">
      <div class="title-products text-center">
        <h1>Productos</h1>
    </div>
     
<form class="form-add-produc" action="/modificar_producto/{{producto.id}} " method="POST" enctype="multipart/form-data"> 
   
           <h2 class="header text-white text-center"> {{producto.name}} </h2>
            <div class="card card-view-products">
            <div class="items-products">
      <input class="controls" type="text" name="name"   id="name"   placeholder="Nombre" value="{{producto.name}} "  required>
      <input class="controls" type="text" name="price"   id="price"   placeholder="Precio" value="{{producto.price}}" required>
      <input class="controls" type="text" name="quantity"   id="quantity"   placeholder="Cantidad" value="{{producto.quantity}}" required>
      <input class="controls" type="text" name="description"   id="description"   placeholder="Descripción" value="{{producto.description}}" required>
      <input class="controls" type="file" name="image"   id="image"   placeholder="Imagen" value="{{producto.image}}"  required>
      <img src="/img/productos//{{producto.image}}"style="width:150px;height:100px" alt="">
      <button class="buttons" type="submit">Modificar Producto</button><button class="buttons"><a class="buttons-a" href="/ver_producto">Regresar a productos</a></button>
      
    </section>
       </div>
        </div>
</form>
</div>
</div>
